<div class="row">
  <div class="col-xl-12">
    <h2>We Are</h2>
    <br>
    <%@users.each do |user|%>
      <h3><a href="/users/<%=user.username%>"><%=user.username%></a></h3>
      <%user.viewable_items.each do |item|%>
        <div>
        <div class="users-index-flag">
          <%="shared" if item.share == "edit"%>
        </div>
        <div class="users-index-item">
          <p><a href="/items/<%=item.id%>"><%=item.name%></a><%=", " + item.description if !item.description.match(/^\s*$/)%></p>
        </div>
        </div>
      <%end%>
      <hr>
    <%end%>
  </div>
</div>
