<div class="row">
  <div class="col-xl-12 text-center">
    <h3><%=@user.username%>'s Page</h3>
    <br>
    <%@user.items.each do |item|
        case item.share
        when *['edit','view']%>
          <h5><a href="/items/show/<%=item.id%>"><%=item.name%></a></h5><p><%=item.description%></p>
      <%else%>
          <h5><a href="/items/show/<%=item.id%>"><%=item.name%></a></h5><p><%=item.description%></p> if is_logged_in?
      <%end%>
       <hr>
    <%end%>
  </div>
</div>
