<div class="row">
  <div class="col-xl-12 text-center">
    <h3><%=@user.username%>'s Page</h3>
    <br>
    <%@user.items.each do |item|
        case item.share
        when *['edit','view']%>
          <h4><a href="/items/<%=item.id%>"><%=item.name%></a></h4><p><%=item.description%></p>
      <%else%>
          <%if current_user.items.include?(item)%>
            <h4><a href="/items/<%=item.id%>"><%=item.name%></a></h4><p><%=item.description%></p>
          <%end%>
      <%end%>
       <hr>
    <%end%>
  </div>
</div>
