<%if !is_logged_in?%>
  <nav>
    <a href="/">We Are</a>
  </nav>
<%end%>

<div class="row">
  <div class="col-xl-12 text-center">
    <div class="items-show">
      <h3><%=@item.name%></h3>
      <p><%=@item.description%></p>
      <br>
      <%@item.properties.all.each do |property|%>
        <h5><a href="/properties/<%=property.id%>"><%=property.name%></a></h5>
      <%end%>
      <br>
      <p class="items-show-creator">Created by <%=@item.user.username%></p>
    </div>
    <div class="items-show"> 
      <%if is_logged_in? && (@item.share == "edit" || current_user.items.include?(@item))%>
        <button type="button" onclick="toEditPage();">Edit</button>
      <%end%>
    </div>
  </div>
</div>

<%if is_logged_in? && (@item.share == "edit" || current_user.items.include?(@item))%>
  <script>
    function toEditPage(){
      window.location.assign("/items/<%=@item.id%>/edit")
    }
  </script>
<%end%>
